/* brand color palette */
:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
}

.topnav {
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  /* background-color: var(--tertiary); */
}

.title {
  font-size: 3.5rem;
  background-color: var(--secondary);
}

.navitems {
  border: 1px solid orange;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.navitems>a {
  font-size: 2rem;
  color: var(--secondary);
  text-decoration: none;
}


/* portfolio project images */
/* TODO: Add portfolio project images here*/

/* media queries */

/* TODO: add media query for a max-width of 980px */

/* TODO: add media query for a max-width of 768px */