/* brand color palette */
:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}



body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--tertiary);
}

.title {
  font-size: 3.5rem;
  background-color: var(--secondary);
}

.navitems {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.navitems>a {
  font-size: 2rem;
  color: var(--secondary);
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sectiontitle {
  display: flex;
  margin-right: 2rem;
  font-size: 3rem;
  border-right: .2rem solid var(--tertiary);
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem;
  text-align: center;
  font-size: 1rem;
  flex-grow: 1;
}


.img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.firstimg {
  min-height: 50rem;
  flex-basis: 100%;
}

.placeholders {
  max-height: 30rem;
  min-height: 5rem;
  flex-basis: 50%;
}

.lastfour {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contactbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: var(--tertiary); */
}

.contactbox p {
  font-size: 1.5rem;
}

/* TODO: add media query for a max-width of 980px */
@media screen and (max-width: 992px) {
  .topnav {
    flex-direction: column;
  }
}

/* TODO: add media query for a max-width of 768px */

@media screen and (max-width: 768px) {
  .sectiontitle {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .firstimg {
    max-height: 10rem;
  }

  .lastfour {
    max-height: 1rem;
  }
}